/*
 * @Author: Conghao Wong
 * @Date: 2023-03-03 16:11:49
 * @LastEditors: Beihao Xia
 * @LastEditTime: 2023-04-25 19:10:42
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */


 .btn-colorful {
    /* width: 22%; */
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 0;
}

.btn-colorful:hover {
    color: #FFFFFF;
    background-color: #004A98;
    border-color: #004A98;
    border: 0;
}

.btn-colorful:active {
    color: #FFFFFF;
    background-color: #003164;
    border-color: #003164;
    border: 0;
}